.game{
    position: relative;
    width:800px;
    height: 500px;
    border:2px solid;
    margin: 0 auto;
    overflow: hidden;
}

.game .sky{
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height:100% ;
    background:url('../img/GameObjects/background-day.png');
}

.game .land{
    background:url('../img/GameObjects/base.png');
    height: 58px;
    width: 200%;
    position:absolute;
    left: 0;
    bottom: 0;
}

.bird{
    position: absolute;
    top: 50%;
    left:0;
}

.pipe_up{
    height: 30%;
    width: 52px;
    background: url('../img//GameObjects/pipe-green.png');
    position: absolute;
    left: 80%;
    bottom:58px;
}

.pipe_down{
    height: 30%;
    width: 52px;
    background: url('../img//GameObjects/pipe-green.png');
    position: absolute;
    transform: rotate(180deg);
    left: 80%;
    top:0;
}

.bg-frame_1 {
    width: 34px;
    height: 24px;
    background: url('../img/GameObjects/bird.png') -10px -10px;
}

.bg-frame_2 {
    width: 34px;
    height: 24px;
    background: url('../img/GameObjects/bird.png') -64px -10px;
}

.bg-frame_3 {
    width: 34px;
    height: 24px;
    background: url('../img/GameObjects/bird.png') -118px -10px;
}
